<#@ template hostSpecific="false"#>
<#@ output extension=".cs" #>
<#@ include file="CustomCollectionSerializersTest.ttinclude" #>
<#@ Assembly Name="System.Core" #>
<#@ Assembly Name="System.Numerics" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #> 
<#
Geneate( "Array", "ExpressionBased", "ExpressionTreeSerializerBuilder", true );
#>
