# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
# Note: T4 Editor cannot handle non-CRLF, so locally use CRLF and push as LF via git
end_of_line = crlf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*]
charset = utf-8

# 4 width tab indentation
[*.{cs,tt,ttinclude}]
indent_style = tab
tab_width = 4

# 2 space indentation
[*.{xml,csproj}]
indent_style = space
indent_size = 2

# From https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# and https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.cs
[*.cs]
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_event = true:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = false:warning
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_coalesce_expression = true:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
dotnet_sort_system_directives_first = true
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_parentheses = expressions,type_casts,control_flow_statements
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_cast = false
csharp_space_around_declaration_statements = true
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_binary_operators = true
csharp_indent_braces = false
csharp_indent_block_contents = true
csharp_indent_switch_labels = true
csharp_indent_case_contents = true
# See https://github.com/dotnet/roslyn/blob/d4dab355b96955aca5b4b0ebf6282575fad78ba8/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.cs
csharp_indent_case_contents_when_block = false
csharp_indent_labels = false
csharp_preserve_single_line_blocks =  true
csharp_preserve_single_line_statements = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Disabled for Unity compatibility until 2017.1 RTM
[*.cs]
dotnet_style_null_propagation = false:warning
csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_constructors = false:warning
csharp_style_expression_bodied_operators = false:warning
csharp_style_expression_bodied_properties = false:warning
csharp_style_expression_bodied_indexers = false:warning
csharp_style_expression_bodied_accessors = false:warning
csharp_style_pattern_matching_over_is_with_cast_check = false:warning
csharp_style_pattern_matching_over_as_with_null_check = false:warning
csharp_style_inlined_variable_declaration = false:warning
csharp_style_throw_expression = false:warning
csharp_style_conditional_delegate_call = false:warning
