*.sln.*
*.suo
*.bak
*.csproj.user
*.pidb
*.nupkg
*.shfbproj_*
*.vshost.exe
_Resharper.*/
_UpgradeReport_*/
UpgradeLog*.*
bin/
Bin/
Help*/
lib/
local/
obj/
packages/
Index.dat
Storage.dat
test-results/
TestResult/
TestResults/