*.sln.*
*.suo
*.bak
*.csproj.user
*.pidb
*.nupkg
*.shfbproj_*
*.vshost.exe
*.pdb
MsgPack.*.zip
_Resharper.*/
_UpgradeReport_*/
UpgradeLog*.*
Help*/
/bin
lib/
local/
obj/
packages/
Index.dat
Storage.dat
test-results/
TestResult/
TestResults/
*.userprefs
.DS_Store
src/MsgPack.Unity/Assets/MsgPack/*
src/MsgPack.Unity/Library/
MsgPack.unitypackage
