<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System.Core" #>
<#@ include file="TimestampTest.Common.ttinclude" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.Linq" #>
#region -- License Terms --
//
// MessagePack for CLI
//
// Copyright (C) 2017 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//

#endregion -- License Terms --

using System;
using System.Globalization;
#if ( NET35 || SILVERLIGHT ) && !WINDOWS_UWP
using System.Threading;
#endif // ( NET35 || SILVERLIGHT ) && !WINDOWS_UWP
#if !MSTEST
using NUnit.Framework;
#else
using TestFixtureAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestClassAttribute;
using TestAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestMethodAttribute;
using TimeoutAttribute = NUnit.Framework.TimeoutAttribute;
using Assert = NUnit.Framework.Assert;
using Is = NUnit.Framework.Is;
#endif

namespace MsgPack
{
	partial class TimestampTest
	{
<#
// Success
foreach ( var @case in ParseToStringTestCases.Values )
{
	foreach ( var variation in 
		new []
		{
			new { FormatLabel = "LowerO", Format = "o", Expected = @case.RoundTripString },
			new { FormatLabel = "UpperO", Format = "O", Expected = @case.RoundTripString },
			new { FormatLabel = "LowerS", Format = "s", Expected = @case.SortableString },
		}
	)
	{
#>
		[Test]
		public void TestToStringCore_<#= @case.Label #>_<#= variation.FormatLabel #>()
		{
			var value =
				new Timestamp.Value(
					<#= @case.Year #>,
					<#= @case.Month #>,
					<#= @case.Day #>,
					<#= @case.Hour #>,
					<#= @case.Minute #>,
					<#= @case.Second #>,
					<#= @case.Nanoseconds #>
				);
			Assert.That(
				TimestampStringConverter.ToString(
					"<#= variation.Format #>",
					CultureInfo.InvariantCulture,
					ref value
				),
				Is.EqualTo( "<#= variation.Expected #>" )
			);
		}

<#
	}
} // Success

// Invariant
foreach ( var @case in 
	new []
	{
		StandardTestCases[ "Distinguishable" ],
		StandardTestCases[ "YearMinus1" ]
	}
)
{
	foreach ( var variation in 
		new []
		{
			new { Format = "o", Expected = @case.RoundTripString },
			new { Format = "s", Expected = @case.SortableString },
		}
	)
	{
#>
		[Test]
		public void TestToString_String_IFormatProvider_<#= @case.Label #>_<#= variation.Format #>_InvariantCulture()
		{
			Assert.That(
				new Timestamp(
					<#= @case.Seconds #>,
					<#= @case.Nanoseconds #>
				).ToString( "<#= variation.Format #>", CultureInfo.InvariantCulture ),
				Is.EqualTo( "<#= variation.Expected #>" )
			);
		}

<#
	}
#>
		[Test]
		public void TestToString_String_IFormatProvider_<#= @case.Label #>_null_InvariantCulture_FormatIsO()
		{
			Assert.That(
				new Timestamp(
					<#= @case.Seconds #>,
					<#= @case.Nanoseconds #>
				).ToString( null, CultureInfo.InvariantCulture ),
				Is.EqualTo( "<#= @case.RoundTripString #>" )
			);
		}

<#
} // Invariant

// Current/Custom
foreach ( var @case in 
	new []
	{
		StandardTestCases[ "Distinguishable" ],
		StandardTestCases[ "YearMinus1" ]
	}
)
{
	foreach ( var variation in 
		new []
		{
			new { Format = "o", Expected = ToFullWidthNegativeSign( @case.RoundTripString ) },
			new { Format = "s", Expected = ToFullWidthNegativeSign( @case.SortableString ) },
		}
	)
	{
#>
		[Test]
		public void TestToString_String_IFormatProvider_<#= @case.Label #>_<#= variation.Format #>_CustomCulture_UsedForNegativeSign()
		{
			Assert.That(
				new Timestamp(
					<#= @case.Seconds #>,
					<#= @case.Nanoseconds #>
				).ToString( "<#= variation.Format #>", new LegacyJapaneseCultureInfo() ),
				Is.EqualTo( "<#= variation.Expected #>" )
			);
		}

#if !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

		[Test]
		public void TestToString_String_IFormatProvider_<#= @case.Label #>_<#= variation.Format #>_null_CurrentCultureIsUsed()
		{
			var originalCurrentCulture = CultureInfo.CurrentCulture;
			try
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					new LegacyJapaneseCultureInfo();

				if ( !( CultureInfo.CurrentCulture is LegacyJapaneseCultureInfo ) || CultureInfo.CurrentCulture.NumberFormat.NegativeSign != "\uFF0D" )
				{
					Assert.Ignore( "This platform does not support custom culture correctly." );
				}

				Assert.That(
					new Timestamp(
						<#= @case.Seconds #>,
						<#= @case.Nanoseconds #>
					).ToString( "<#= variation.Format #>", null ),
					Is.EqualTo( "<#= variation.Expected #>" )
				);
			}
			finally
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					originalCurrentCulture;
			}
		}

#endif // !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

<#
	}
} // // Current/Custom

// Overloads
#>
		[Test]
		public void TestToString_String_IFormatProvider_DefaultIsOk()
		{
			Assert.That(
				default( Timestamp ).ToString( null, null ),
				Is.EqualTo( "1970-01-01T00:00:00.000000000Z" )
			);
		}

		[Test]
		public void TestToString_String_IFormatProvider_EmptyFormat()
		{
			Assert.Throws<ArgumentException>(
				() => default( Timestamp ).ToString( String.Empty, null )
			);
		}

		[Test]
		public void TestToString_String_IFormatProvider_UnsupportedFormat()
		{
			Assert.Throws<ArgumentException>(
				() => default( Timestamp ).ToString( "G", null )
			);
		}

#if !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

		[Test]
		public void TestToString_AsOFormatAndNullIFormatProvider()
		{
			var originalCurrentCulture = CultureInfo.CurrentCulture;
			try
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					new LegacyJapaneseCultureInfo();

				if ( !( CultureInfo.CurrentCulture is LegacyJapaneseCultureInfo ) || CultureInfo.CurrentCulture.NumberFormat.NegativeSign != "\uFF0D" )
				{
					Assert.Ignore( "This platform does not support custom culture correctly." );
				}

				Assert.That(
					new Timestamp(
						<#= StandardTestCases[ "YearMinus1" ].Seconds #>,
						<#= StandardTestCases[ "YearMinus1" ].Nanoseconds #>
					).ToString(),
					Is.EqualTo( "<#= ToFullWidthNegativeSign( StandardTestCases[ "YearMinus1" ].RoundTripString ) #>" )
				);
			}
			finally
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					originalCurrentCulture;
			}
		}

#endif // !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

		[Test]
		public void TestToString_IFormatProvider_AsOFormat()
		{
			Assert.That(
				new Timestamp(
					<#= StandardTestCases[ "YearMinus1" ].Seconds #>,
					<#= StandardTestCases[ "YearMinus1" ].Nanoseconds #>
				).ToString( new LegacyJapaneseCultureInfo() ),
				Is.EqualTo( "<#= ToFullWidthNegativeSign( StandardTestCases[ "YearMinus1" ].RoundTripString ) #>" )
			);
		}

#if !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

		[Test]
		public void TestToString_String_AsNullIFormatProvider()
		{
			var originalCurrentCulture = CultureInfo.CurrentCulture;
			try
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					new LegacyJapaneseCultureInfo();

				if ( !( CultureInfo.CurrentCulture is LegacyJapaneseCultureInfo ) || CultureInfo.CurrentCulture.NumberFormat.NegativeSign != "\uFF0D" )
				{
					Assert.Ignore( "This platform does not support custom culture correctly." );
				}

				Assert.That(
					new Timestamp(
						<#= StandardTestCases[ "YearMinus1" ].Seconds #>,
						<#= StandardTestCases[ "YearMinus1" ].Nanoseconds #>
					).ToString( "s" ),
					Is.EqualTo( "<#= ToFullWidthNegativeSign( StandardTestCases[ "YearMinus1" ].SortableString ) #>" )
				);
			}
			finally
			{
#if ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				CultureInfo.CurrentCulture = 
#else // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
				Thread.CurrentThread.CurrentCulture =
#endif // ( !NET35 && !SILVERLIGHT ) || WINDOWS_UWP
					originalCurrentCulture;
			}
		}

#endif // !WINDOWS_PHONE && !WINDOWS_PHONE_APP && !NETFX_CORE

	}
}
