<#
//
// MessagePack for CLI
//
// Copyright (C) 2010-2013 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#>
<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System.Core" #>
<#@ assembly Name="System.Numerics" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Numerics" #>
<#@ import namespace="System.Runtime.InteropServices" #>
<#

var __integers =
	new Tuple<string, BigInteger, string, Type>[]
	{
		// Label, Expected Value, byte array, Exepected Type
		Tuple.Create( "Int64MinValue", new BigInteger( Int64.MinValue ), "new byte[] { 0xD3, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }", typeof( long ) ),
		Tuple.Create( "Int32MinValueMinusOne", new BigInteger( ( long )Int32.MinValue - 1L ), "new byte[] { 0xD3, 0xFF, 0xFF, 0xFF, 0xFF, 0x7F, 0xFF, 0xFF, 0xFF }", typeof( long ) ),
		Tuple.Create( "Int32MinValue", new BigInteger( Int32.MinValue ), "new byte[] { 0xD2, 0x80, 0x00, 0x00, 0x00 }", typeof( long ) ),
		Tuple.Create( "Int16MinValueMinusOne", new BigInteger( ( int )Int16.MinValue - 1 ), "new byte[] { 0xD2, 0xFF, 0xFF, 0x7F, 0xFF }", typeof( long ) ),
		Tuple.Create( "Int16MinValue", new BigInteger( Int16.MinValue ), "new byte[] { 0xD1, 0x80, 0x00 }", typeof( long ) ),
		Tuple.Create( "SByteMinValueMinusOne", new BigInteger( ( short )SByte.MinValue - 1 ), "new byte[] { 0xD1, 0xFF, 0x7F }", typeof( long ) ),
		Tuple.Create( "SByteMinValue", new BigInteger( SByte.MinValue ), "new byte[] { 0xD0, 0x80 }", typeof( long ) ),
		Tuple.Create( "NegativeFixNumMinValueMinusOne", new BigInteger( -33 ), "new byte[] { 0xD0, 0xDF }", typeof( long ) ),
		Tuple.Create( "NegativeFixNumMinValue", new BigInteger( -32 ), "new byte[] { 0xE0 }", typeof( long ) ),
		Tuple.Create( "MinusOne", new BigInteger( -1 ), "new byte[] { 0xFF }", typeof( long ) ),
		Tuple.Create( "Zero", new BigInteger( 0 ), "new byte[] { 0x0 }", typeof( ulong ) ),
		Tuple.Create( "PlusOne", new BigInteger( 1 ), "new byte[] { 0x1 }", typeof( ulong ) ),
		Tuple.Create( "PositiveFixNumMaxValue", new BigInteger( 127 ), "new byte[] { 0x7F }", typeof( ulong ) ),
		Tuple.Create( "PositiveFixNumMaxValuePlusOne", new BigInteger( 128 ), "new byte[] { 0xCC, 0x80 }", typeof( ulong ) ),
		Tuple.Create( "ByteMaxValue", new BigInteger( Byte.MaxValue ), "new byte[] { 0xCC, 0xFF }", typeof( ulong ) ),
		Tuple.Create( "ByteMaxValuePlusOne", new BigInteger( ( ushort )Byte.MaxValue + 1 ), "new byte[] { 0xCD, 0x1, 0x00 }", typeof( ulong ) ),
		Tuple.Create( "UInt16MaxValue", new BigInteger( UInt16.MaxValue ), "new byte[] { 0xCD, 0xFF, 0xFF }", typeof( ulong ) ),
		Tuple.Create( "UInt16MaxValuePlusOne", new BigInteger( ( uint )UInt16.MaxValue + 1 ), "new byte[] { 0xCE, 0x0, 0x1, 0x00, 0x00 }", typeof( ulong ) ),
		Tuple.Create( "UInt32MaxValue", new BigInteger( UInt32.MaxValue ), "new byte[] { 0xCE, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( ulong ) ),
		Tuple.Create( "UInt32MaxValuePlusOne", new BigInteger( ( ulong )UInt32.MaxValue + 1 ), "new byte[] { 0xCF, 0x0, 0x0, 0x0, 0x1, 0x0, 0x0, 0x0, 0x0 }", typeof( ulong ) ),
		Tuple.Create( "UInt64MaxValue", new BigInteger( UInt64.MaxValue ), "new byte[] { 0xCF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( ulong ) ),
	};

var __booleans =
	new Tuple<string, bool, string, Type>[]
	{
		// Label, Expected Value, byte array, Exepected Type
		Tuple.Create( "BooleanTrue", true, "new byte[] { 0xC3 }", typeof( bool ) ),
		Tuple.Create( "BooleanFalse", false, "new byte[] { 0xC2 }", typeof( bool ) ),
	};

var __reals =
	new Tuple<string, string, Type, string>[]
	{
		// Label, byte array, Exepected Type, Testing Expression
		Tuple.Create( "SingleMinValue", "new byte[] { 0xCA, 0xFF, 0x7F, 0xFF, 0xFF }", typeof( float ), "Single.MinValue.Equals(" ),
		Tuple.Create( "SingleMaxValue", "new byte[] { 0xCA, 0x7F, 0x7F, 0xFF, 0xFF }", typeof( float ), "Single.MaxValue.Equals(" ),
		Tuple.Create( "SingleEpsilon", "new byte[] { 0xCA, 0x00, 0x00, 0x00, 0x01 }", typeof( float ), "Single.Epsilon.Equals(" ),
		Tuple.Create( "SinglePositiveZero", "new byte[] { 0xCA, 0x00, 0x00, 0x00, 0x00 }", typeof( float ), "( 0.0f ).Equals(" ),
		Tuple.Create( "SingleNegativeZero", "new byte[] { 0xCA, 0x80, 0x00, 0x00, 0x00 }", typeof( float ), "( -0.0f ).Equals(" ),
		Tuple.Create( "SingleNaNPositiveMinValue", "new byte[] { 0xCA, 0x7F, 0x80, 0x00, 0x01 }", typeof( float ), "Single.IsNaN(" ),
		Tuple.Create( "SingleNaNPositiveMaxValue", "new byte[] { 0xCA, 0x7F, 0xFF, 0xFF, 0xFF }", typeof( float ), "Single.IsNaN(" ),
		Tuple.Create( "SingleNaNNegativeMinValue", "new byte[] { 0xCA, 0xFF, 0x80, 0x00, 0x01 }", typeof( float ), "Single.IsNaN(" ),
		Tuple.Create( "SingleNaNNegativeMaxValue", "new byte[] { 0xCA, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( float ), "Single.IsNaN(" ),
		Tuple.Create( "SingleNegativeInfinity", "new byte[] { 0xCA, 0xFF, 0x80, 0x00, 0x00 }", typeof( float ), "Single.IsNegativeInfinity(" ),
		Tuple.Create( "SinglePositiveInfinity", "new byte[] { 0xCA, 0x7F, 0x80, 0x00, 0x00 }", typeof( float ), "Single.IsPositiveInfinity(" ),
		Tuple.Create( "DoubleMinValue", "new byte[] { 0xCB, 0xFF, 0xEF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( double ), "Double.MinValue.Equals(" ),
		Tuple.Create( "DoubleMaxValue", "new byte[] { 0xCB, 0x7F, 0xEF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( double ), "Double.MaxValue.Equals("  ),
		Tuple.Create( "DoubleEpsilon", "new byte[] { 0xCB, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01 }", typeof( double ), "Double.Epsilon.Equals("  ),
		Tuple.Create( "DoublePositiveZero", "new byte[] { 0xCB, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }", typeof( double ), "( 0.0 ).Equals(" ),
		Tuple.Create( "DoubleNegativeZero", "new byte[] { 0xCB, 0x80, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }", typeof( double ), "( -0.0 ).Equals(" ),
		Tuple.Create( "DoubleNaNPositiveMinValue", "new byte[] { 0xCB, 0x7F, 0xF0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01 }", typeof( double ), "Double.IsNaN(" ),
		Tuple.Create( "DoubleNaNPositiveMaxValue", "new byte[] { 0xCB, 0x7F, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( double ), "Double.IsNaN(" ),
		Tuple.Create( "DoubleNaNNegativeMinValue", "new byte[] { 0xCB, 0xFF, 0xF0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01 }", typeof( double ), "Double.IsNaN(" ),
		Tuple.Create( "DoubleNaNNegativeMaxValue", "new byte[] { 0xCB, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }", typeof( double ), "Double.IsNaN(" ),
		Tuple.Create( "DoubleNegativeInfinity", "new byte[] { 0xCB, 0xFF, 0xF0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }", typeof( double ), "Double.IsNegativeInfinity(" ),
		Tuple.Create( "DoublePositiveInfinity", "new byte[] { 0xCB, 0x7F, 0xF0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 }", typeof( double ), "Double.IsPositiveInfinity(" ),
	};

#>
#region -- License Terms --
//
// MessagePack for CLI
//
// Copyright (C) 2010-2016 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#endregion -- License Terms --

using System;
using System.IO;
using System.Linq;
#if !MSTEST
using NUnit.Framework;
#else
using TestFixtureAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestClassAttribute;
using TestAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestMethodAttribute;
using TimeoutAttribute = NUnit.Framework.TimeoutAttribute;
using Assert = NUnit.Framework.Assert;
using Is = NUnit.Framework.Is;
#endif

namespace MsgPack
{
	// This file was generated from UnpackerTest.Scalar.tt T4Template.
	// Do not modify this file. Edit UnpackerTest.Scalar.tt instead.

	[TestFixture]
	public partial class UnpackerTest_Scalar
	{
		// FIXME: Direct reading and direct/MPO mixing cases.
<#
foreach( var __testCase in __integers )
{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( ( <#= __testCase.Item4 #> )result.Value, Is.EqualTo( <#= __testCase.Item2 #> ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( ( <#= __testCase.Item4 #> )result.Value, Is.EqualTo( <#= __testCase.Item2 #> ) );
			}
		}
<#
	foreach( var __variation in
		new []
		{
			new { IsNullable = false },
			new { IsNullable = true },
		}
	)
	{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				<#= __testCase.Item4.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>( out result ) );
				Assert.That( result<#= __variation.IsNullable ? ".Value" : String.Empty #>, Is.EqualTo( <#= __testCase.Item2 #> ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				<#= __testCase.Item4.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>( out result ) );
				Assert.That( result<#= __variation.IsNullable ? ".Value" : String.Empty #>, Is.EqualTo( <#= __testCase.Item2 #> ) );
			}
		}
<#
	}
}
foreach( var __testCase in __booleans )
{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( ( <#= __testCase.Item4 #> )result.Value, Is.EqualTo( <#= __testCase.Item2.ToString( CultureInfo.InvariantCulture ).ToLowerInvariant() #> ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( ( <#= __testCase.Item4 #> )result.Value, Is.EqualTo( <#= __testCase.Item2.ToString( CultureInfo.InvariantCulture ).ToLowerInvariant() #> ) );
			}
		}
<#
	foreach( var __variation in
		new []
		{
			new { IsNullable = false },
			new { IsNullable = true },
		}
	)
	{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				<#= __testCase.Item4.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>( out result ) );
				Assert.That( result<#= __variation.IsNullable ? ".Value" : String.Empty #>, Is.EqualTo( <#= __testCase.Item2.ToString( CultureInfo.InvariantCulture ).ToLowerInvariant() #> ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item3 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				<#= __testCase.Item4.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item4.Name #>( out result ) );
				Assert.That( result<#= __variation.IsNullable ? ".Value" : String.Empty #>, Is.EqualTo( <#= __testCase.Item2.ToString( CultureInfo.InvariantCulture ).ToLowerInvariant() #> ) );
			}
		}
<#
	}
}

foreach( var __testCase in __reals )
{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item2 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( <#= __testCase.Item4 #> ( <#= __testCase.Item3 #> )result.Value ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item2 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				Assert.IsTrue( unpacker.Read() );
#pragma warning disable 612,618
				var result = unpacker.Data;
#pragma warning restore 612,618
				Assert.IsTrue( result.HasValue );
				Assert.That( <#= __testCase.Item4 #> ( <#= __testCase.Item3 #> )result.Value ) );
			}
		}
<#
	foreach( var __variation in
		new []
		{
			new { IsNullable = false },
			new { IsNullable = true },
		}
	)
	{
#>

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item3.Name #>()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item2 #> ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				<#= __testCase.Item3.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item3.Name #>( out result ) );
				Assert.That( <#= __testCase.Item4 #> result<#= __variation.IsNullable ? ".Value" : String.Empty #> ) );
			}
		}

		[Test]
		public void TestUnpack<#= __testCase.Item1 #>_Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item3.Name #>_Splitted()
		{
			using( var buffer = new MemoryStream( <#= __testCase.Item2 #> ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				<#= __testCase.Item3.Name #><#= __variation.IsNullable ? "?" : String.Empty #> result;
				Assert.IsTrue( unpacker.Read<#= __variation.IsNullable ? "Nullable" : String.Empty #><#= __testCase.Item3.Name #>( out result ) );
				Assert.That( <#= __testCase.Item4 #> result<#= __variation.IsNullable ? ".Value" : String.Empty #> ) );
			}
		}
<#
	}
}

foreach ( var __scalarType in 
	new []
	{
		typeof( bool ), typeof( float ), typeof ( double ),
		typeof( sbyte ), typeof( short ), typeof ( int ), typeof ( long ),
		typeof( byte ), typeof( ushort ), typeof ( uint ), typeof ( ulong ),
	}
)
{
#>

		[Test]
		public void TestUnpackNil_ReadNullable<#= __scalarType.Name #>()
		{
			using( var buffer = new MemoryStream( new byte[] { 0xC0 } ) )
			using( var unpacker = Unpacker.Create( buffer ) )
			{
				<#= __scalarType.Name #>? result;
				Assert.IsTrue( unpacker.ReadNullable<#= __scalarType.Name #>( out result ) );
				Assert.That( result, Is.Null );
			}
		}

		[Test]
		public void TestUnpackNil_ReadNullable<#= __scalarType.Name #>_Splitted()
		{
			using( var buffer = new MemoryStream( new byte[] { 0xC0 } ) )
			using( var splitted = new SplittingStream( buffer ) )
			using( var unpacker = Unpacker.Create( splitted ) )
			{
				<#= __scalarType.Name #>? result;
				Assert.IsTrue( unpacker.ReadNullable<#= __scalarType.Name #>( out result ) );
				Assert.That( result, Is.Null );
			}
		}
<#
}
#>

<#
var integerCases =
	new []
	{
		new { Label = "PositiveFixNum", Min = "0",													Max = "0x7F",
				Is64Bit = false,		MinValue = new BigInteger( 0 ),								MaxValue = new BigInteger( 0x7F ) },
		new { Label = "NegativeFixNum", Min = "-31",												Max = "-1",	
				Is64Bit = false,		MinValue = new BigInteger( -31 ),							MaxValue = new BigInteger( -1 ) },
		new { Label = "Int8",			Min = "SByte.MinValue",										Max = "-32",
				Is64Bit = false,		MinValue = new BigInteger( SByte.MinValue ),				MaxValue = new BigInteger( -32 ) },
		new { Label = "UInt8",			Min = "0x80",												Max = "Byte.MaxValue",
				Is64Bit = false,		MinValue = new BigInteger( 0x80 ),							MaxValue = new BigInteger( Byte.MaxValue ) },
		new { Label = "Int16",			Min = "Int16.MinValue",										Max = "SByte.MinValue - 1",
				Is64Bit = false,		MinValue = new BigInteger( Int16.MinValue ),				MaxValue = new BigInteger( SByte.MinValue - 1 ) },
		new { Label = "UInt16",			Min = "( ushort )Byte.MaxValue + 1",						Max = "UInt16.MaxValue",
				Is64Bit = false,		MinValue = new BigInteger( ( ushort )Byte.MaxValue + 1 ),	MaxValue = new BigInteger( UInt16.MaxValue ) },
		new { Label = "Int32",			Min = "Int32.MinValue",										Max = "( int )Int16.MinValue - 1",
				Is64Bit = false,		MinValue = new BigInteger( Int32.MinValue ),				MaxValue = new BigInteger( ( int )Int16.MinValue - 1 ) },
		new { Label = "UInt32",			Min = "( uint )UInt16.MaxValue + 1",						Max = "UInt32.MaxValue",
				Is64Bit = false,		MinValue = new BigInteger( ( uint )UInt16.MaxValue + 1 ),	MaxValue = new BigInteger( UInt32.MaxValue ) },
		new { Label = "Int64",			Min = "Int64.MinValue",										Max = "( long )Int32.MinValue - 1",
				Is64Bit = true,			MinValue = new BigInteger( Int64.MinValue ),				MaxValue = new BigInteger( ( long )Int32.MinValue - 1 ) },
		new { Label = "UInt64",			Min = "( ulong )UInt32.MaxValue + 1",						Max = "UInt64.MaxValue",
				Is64Bit = true,			MinValue = new BigInteger( ( ulong )UInt32.MaxValue + 1 ),	MaxValue = new BigInteger( UInt64.MaxValue ) },
	};
var integerTypes =
		new []
		{
			typeof( sbyte ), typeof( short ), typeof( int ), typeof( long ),
			typeof( byte ), typeof( ushort ), typeof( uint ), typeof( ulong )
		};
var realCases =
	new []
	{
		new { Label = "Single",	Positive = "1.1f",	Negative = "-1.1f",	LittlePositive = "0.1f",	LittleNegative = "-0.1f",	Zero = "0.0f" },
		new { Label = "Double",	Positive = "1.1",	Negative = "-1.1",	LittlePositive = "0.1",		LittleNegative = "-0.1",	Zero = "0.0" }
	};
var realTypes = new [] { typeof( float ), typeof( double ) };
foreach( var realType in realTypes )
{
	foreach( var integerCase in integerCases )
	{
#>
		[Test]
		public void TestRead<#= realType.Name #>FromPacked<#= integerCase.Label #>_Minimum_Normal()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= integerCase.Min #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= realType.Name #> result;
					Assert.That( unpacker.Read<#= realType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= realType.Name #> )( <#= integerCase.Min #> ) ) );
				}
			}
		}

		[Test]
		public void TestRead<#= realType.Name #>FromPacked<#= integerCase.Label #>_Maximum_Normal()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= integerCase.Max #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= realType.Name #> result;
					Assert.That( unpacker.Read<#= realType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= realType.Name #> )( <#= integerCase.Max #> ) ) );
				}
			}
		}

<#
	}
#>
		[Test]
		public void TestRead<#= realType.Name #>FromPackedZero_Normal()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( 0 );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= realType.Name #> result;
					Assert.That( unpacker.Read<#= realType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= realType.Name #> )0 ) );
				}
			}
		}

<#
}

foreach( var integerType in integerTypes )
{
	foreach( var realCase in realCases )
	{
		var shouldOverflowInNegative = integerType == typeof( byte ) || integerType.Name.StartsWith( "UI" );
#>
		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= realCase.Label #>_Negative_<#= shouldOverflowInNegative ? "Overflow" : "AsInteger" #>()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= realCase.Negative #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
<#
		if( shouldOverflowInNegative )
		{
#>
					Assert.Throws<OverflowException>( () =>
						{
							<#= integerType.Name #> result;
							unpacker.Read<#= integerType.Name #>( out result );
						}
					);
<#
		}
		else
		{
#>
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( unchecked( ( <#= integerType.Name #> )( <#= realCase.Negative #> ) ) ) );
<#
		}
#>
				}
			}
		}

		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= realCase.Label #>_Positive_AsInteger()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= realCase.Positive #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( unchecked( ( <#= integerType.Name #> )( <#= realCase.Positive #> ) ) ) );
				}
			}
		}

		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= realCase.Label #>_LittleNegative_AsZero()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= realCase.LittleNegative #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( unchecked( ( <#= integerType.Name #> )( <#= realCase.LittleNegative #> ) ) ) );
				}
			}
		}

		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= realCase.Label #>_LittlePositive_AsZero()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= realCase.LittlePositive #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( unchecked( ( <#= integerType.Name #> )( <#= realCase.LittlePositive #> ) ) ) );
				}
			}
		}

		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= realCase.Label #>_Zero_AsInteger()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= realCase.Zero #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= integerType.Name #> )<#= realCase.Zero #> ) );
				}
			}
		}

<#
	}

	foreach( var integerCase in integerCases )
	{
		var  acceptableMinValue = Convert.ToInt64( integerType.GetField( "MinValue" ).GetValue( null ) );
		var  acceptableMaxValue = Convert.ToUInt64( integerType.GetField( "MaxValue" ).GetValue( null ) );
		var shouldBeOverflow = integerCase.MinValue < acceptableMinValue || integerCase.MinValue > acceptableMaxValue;
#>
		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= integerCase.Label #>_MinValue_<#= shouldBeOverflow ? "Overflow" : "AsInteger" #>()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= integerCase.Min #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
<#
		if ( shouldBeOverflow )
		{
#>
					Assert.Throws<OverflowException>( () =>
						{
							<#= integerType.Name #> result;
							unpacker.Read<#= integerType.Name #>( out result );
						}
					);
<#
		}
		else
		{
#>
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= integerType.Name #> )( <#= integerCase.Min #> ) ) );
<#
		}
#>
				}
			}
		}

<#
		shouldBeOverflow = integerCase.MaxValue > acceptableMaxValue || integerCase.MaxValue < acceptableMinValue;
#>
		[Test]
		public void TestRead<#= integerType.Name #>FromPacked<#= integerCase.Label #>_MaxValue_<#= shouldBeOverflow ? "Overflow" : "AsInteger" #>()
		{
			using( var buffer = new MemoryStream() )
			using( var packer = Packer.Create( buffer ) )
			{
				packer.Pack( <#= integerCase.Max #> );
				buffer.Position = 0;
				using( var unpacker = Unpacker.Create( buffer ) )
				{
<#
		if ( shouldBeOverflow )
		{
#>
					Assert.Throws<OverflowException>( () =>
						{
							<#= integerType.Name #> result;
							unpacker.Read<#= integerType.Name #>( out result );
						}
					);
<#
		}
		else
		{
#>
					<#= integerType.Name #> result;
					Assert.That( unpacker.Read<#= integerType.Name #>( out result ) );
					Assert.That( result, Is.EqualTo( ( <#= integerType.Name #> )( <#= integerCase.Max #> ) ) );
<#
		}
#>
				}
			}
		}
<#
	}
}
#>
	}
}