<#
//
// MessagePack for CLI
//
// Copyright (C) 2010-2012 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#>
<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="UnpackingTest.Common.ttinclude" #>
<#@ assembly Name="System.Core" #>
<#@ assembly Name="System.Numerics" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Numerics" #>
<#@ import namespace="System.Runtime.InteropServices" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#
var __realType = typeof( double );
#>
#region -- License Terms --
//
// MessagePack for CLI
//
// Copyright (C) 2010-2012 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#endregion -- License Terms --

using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.IO;
using System.Linq;
using System.Text;
#if !MSTEST
using NUnit.Framework;
#else
using TestFixtureAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestClassAttribute;
using TestAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestMethodAttribute;
using TimeoutAttribute = NUnit.Framework.TimeoutAttribute;
using Assert = NUnit.Framework.Assert;
using Is = NUnit.Framework.Is;
#endif

namespace MsgPack
{
	[TestFixture]
	public partial class UnpackingTest_Combinations_<#= __realType.Name #>
	{
<#
	foreach( var __realValue in TestData.RealValues )
	{
#>
		[Test]
		public void TestUnpack<#= __realType.Name #>_ByteArray_<#= __realValue.Item1 #>_AsIs()
		{
			var result = Unpacking.Unpack<#= __realType.Name #>( <#= __realValue.Item2 #> );
			Assert.AreEqual( sizeof( <#= __realValue.Item3 #> ) + 1, result.ReadCount );
			Assert.IsTrue( <#= __realType == __realValue.Item3 ? __realValue.Item4 : __realValue.Item5 #>result.Value ) );
		}
		
		[Test]
		public void TestUnpack<#= __realType.Name #>_Stream_<#= __realValue.Item1 #>_AsIs()
		{
			using ( var buffer = new MemoryStream( <#= __realValue.Item2 #> ) )
			{
				var result = Unpacking.Unpack<#= __realType.Name #>( buffer );
				Assert.AreEqual( sizeof( <#= __realValue.Item3 #> ) + 1, buffer.Position );
				Assert.IsTrue( <#= __realType == __realValue.Item3 ? __realValue.Item4 : __realValue.Item5 #>result ) );
			}
		}
		
<#
	}
#>
		<#= String.Format( CultureInfo.InvariantCulture, TestData.ArgumentErrorTemplate, __realType.Name ) #>

		[Test]
		public void TestUnpack<#= __realType.Name #>_ByteArray_Offset_OffsetIsValid_OffsetIsRespected()
		{
			// Offset 1 is <#= __realType.Name #> 0.
			var result = Unpacking.Unpack<#= __realType.Name #>( new byte[] { 0xFF, <#= __realType == typeof( float ) ? "0xCA" : "0xCB" #>, <#= String.Join( ", ", Enumerable.Repeat( "0x00", __realType == typeof( float ) ? 4 : 8 ) ) #>, 0xFF }, 1 );
			Assert.AreEqual( sizeof( <#= __realType #> ) + 1, result.ReadCount );
			Assert.AreEqual( 0.0, result.Value );
		}

		[Test]
		public void TestUnpack<#= __realType.Name #>_ByteArray_Null_Nil()
		{
			Assert.Throws<MessageTypeException>( () => Unpacking.Unpack<#= __realType.Name #>( new byte[] { 0xC0 } ) );
		}
	
		[Test]
		public void TestUnpack<#= __realType.Name #>_ByteArray_Not<#= __realType.Name #>()
		{
			Assert.Throws<MessageTypeException>( () => Unpacking.Unpack<#= __realType.Name #>( new byte[] { 0xC3 } ) );
		}
	}
}