<#
//
// MessagePack for CLI
//
// Copyright (C) 2010-2012 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#>
<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="UnpackingTest.Common.ttinclude" #>
<#@ assembly Name="System.Core" #>
<#@ assembly Name="System.Numerics" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Numerics" #>
<#@ import namespace="System.Runtime.InteropServices" #>
<#@ import namespace="System.Text.RegularExpressions" #>
#region -- License Terms --
//
// MessagePack for CLI
//
// Copyright (C) 2010-2012 FUJIWARA, Yusuke
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//        http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
//
#endregion -- License Terms --

using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.IO;
using System.Linq;
using System.Text;
#if !MSTEST
using NUnit.Framework;
#else
using TestFixtureAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestClassAttribute;
using TestAttribute = Microsoft.VisualStudio.TestPlatform.UnitTestFramework.TestMethodAttribute;
using TimeoutAttribute = NUnit.Framework.TimeoutAttribute;
using Assert = NUnit.Framework.Assert;
using Is = NUnit.Framework.Is;
#endif

namespace MsgPack
{
	[TestFixture]
	public 	partial class UnpackingTest_Combinations_Raw
	{
<#
foreach( var __testCase in TestData.StringValues )
{
	for( int __i = 0; __i < __testCase.Item3.Length; __i++ )
	{
		var __expression = __testCase.Item3[ __i ];
		var __byteLength = __testCase.Item4[ __i ];
#>
		[Test]
		public void TestUnpackBinaryFromString_ByteArray_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			var result = Unpacking.UnpackBinary( <#= __expression #> );
			Assert.AreEqual( <#= __byteLength #>, result.ReadCount );
			Assert.AreEqual( <#= __testCase.Item2 #>, result.Value.Length );
			Assert.That( result.Value, Is.All.EqualTo( ( byte )'a' ) );
		}

		[Test]
		public void TestUnpackBinaryFromString_Stream_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			using ( var buffer = new MemoryStream( <#= __expression #> ) )
			{
				var result = Unpacking.UnpackBinary( buffer );
				Assert.AreEqual( <#= __byteLength #>, buffer.Position );
				Assert.AreEqual( <#= __testCase.Item2 #>, result.Length );
				Assert.That( result, Is.All.EqualTo( ( byte )'a' ) );
			}
		}
		
		[Test]
		public void TestUnpackString_ByteArray_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			var result = Unpacking.UnpackString( <#= __expression #> );
			Assert.AreEqual( <#= __byteLength #>, result.ReadCount );
			Assert.AreEqual( <#= __testCase.Item2 #>, result.Value.Length );
			Assert.That( result.Value, Is.All.EqualTo( 'a' ) );
		}

		[Test]
		public void TestUnpackString_Stream_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			using ( var buffer = new MemoryStream( <#= __expression #> ) )
			{
				var result = Unpacking.UnpackString( buffer );
				Assert.AreEqual( <#= __byteLength #>, buffer.Position );
				Assert.AreEqual( <#= __testCase.Item2 #>, result.Length );
				Assert.That( result, Is.All.EqualTo( 'a' ) );
			}
		}
<#
	}
}

foreach( var __testCase in TestData.BinaryValues )
{
	for( int __i = 0; __i < __testCase.Item3.Length; __i++ )
	{
		var __expression = __testCase.Item3[ __i ];
		var __byteLength = __testCase.Item4[ __i ];
#>
		[Test]
		public void TestUnpackBinaryFromBinary_ByteArray_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			var result = Unpacking.UnpackBinary( <#= __expression #> );
			Assert.AreEqual( <#= __byteLength #>, result.ReadCount );
			Assert.AreEqual( <#= __testCase.Item2 #>, result.Value.Length );
			Assert.That( result.Value, Is.All.EqualTo( 0xFF ) );
		}

		[Test]
		public void TestUnpackBinaryFromBinary_Stream_<#= __testCase.Item1 #>_As<#= ToValueId( __expression ) #>_AsIs()
		{
			using ( var buffer = new MemoryStream( <#= __expression #> ) )
			{
				var result = Unpacking.UnpackBinary( buffer );
				Assert.AreEqual( <#= __byteLength #>, buffer.Position );
				Assert.AreEqual( <#= __testCase.Item2 #>, result.Length );
				Assert.That( result, Is.All.EqualTo( 0xFF ) );
			}
		}
		
<#
	}
}
#>
		<#= String.Format( CultureInfo.InvariantCulture, TestData.ArgumentErrorTemplate, "Binary" ) #>

		[Test]
		public void TestUnpackBinary_ByteArray_Offset_OffsetIsValid_OffsetIsRespected()
		{
			var result = Unpacking.UnpackBinary( new byte[] { 0xFF, 0xA0, 0xFF }, 1 );
			Assert.AreEqual( 1, result.ReadCount );
			Assert.AreEqual( 0, result.Value.Length );
		}

		[Test]
		public void TestUnpackBinary_ByteArray_Null_Nil()
		{
			var result = Unpacking.UnpackBinary( new byte[] { 0xC0 } );
			Assert.AreEqual( 1, result.ReadCount );
			Assert.IsNull( result.Value );
		}
	
		[Test]
		public void TestUnpackBinary_ByteArray_NotBinary()
		{
			Assert.Throws<MessageTypeException>( () => Unpacking.UnpackBinary( new byte[] { 0x1 } ) );
		}
	}
}